__pycache__
build/*
build*
out/*
.vs/*
.cache/*
.vscode/*
CMakeSettings.json
asm/temp
logic/build/*
logic/.vs/*
logic/out/*
logic/data/plandomizer.yaml
misc
seedgen/testing_config.yaml
gui/data.qrc

!./github/workflows/*
